@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
html,
body {
    background: url(./images/tamanna-rumee-FtJEat_S7Q4-unsplash.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-size: 1.4em;
}

.website {
    width: 100%;
    float: left;
}

.container {
    max-width: 2500px;
    margin: 0 auto;
    text-align: center;
    width: 95%;
}

.headline {
    float: left;
    width: 100%;
    text-align: left;
    margin-top: 3%;
}

.content {
    color: #000000;
    text-align: left;
    float: left;
    width: 60%;
}

.bold {
    font-weight: 600;
}

.footer {
    position: absolute;
    width: 95%;
    left: 2.5%;
    bottom: 1em;
    font-size: 0.6em;
}

h1 {
    color: #6F0F9F;
    font-weight: 700;
    letter-spacing: 8px;
    font-size: 1.55em;
}

.image {
    margin-top: 4%;
}

img {
    height: auto;
    width: auto;
    max-width: 500px;
    max-height: 500px;
}